/*Nav bar +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right, #ffffff 5%, #0f6b28 75%, #FFFFFF 80%, #a60c0c 90%);
	background-color: #0f6b28;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	color: #111399;
	font-size: small;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: small;
	color: #a60c0c;
	display: block;
	transition: 0.3s;
	
}

.placeholder {
	padding: 8px 8px 8px 32px;
	color: #e00d0d;
	text-decoration: none;
	font-size: small;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	
	color: #ffae00;
	
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: medium;
	margin-left: 30px;
	color: #111399;
	background-image: linear-gradient(to left, #ffffff 5%, #0f6b28 75%, #FFFFFF 80%, #a60c0c 90%);
	
}

#main {
	transition: margin-left .5s;
	padding: 20px;
}

@media screen and (max-height: 450px) {
	
	.sidenav {padding-top: 15px;}
	.sidenav {padding-top: 18px;}
	
}

[class*="col-"] {
	width: 100%;
	flex-wrap: wrap;
	
}

/* columns +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media only screen and (min-width: 768px) {
	.col-1 {
		width: 8.33%;
		flex-wrap: wrap;
		
	}
	.col-2 {
		width: 16.66%;
		flex-wrap: wrap;
		
	}
	.col-3 {
		width: 25%;
		flex-wrap: wrap;
	
	}
	.col-4 {
		width: 33.33%;
		flex-wrap: wrap;
		
	}
	.col-5 {
		width: 41.66%;
		flex-wrap: wrap;
		
	}
	.col-6 {
		width: 50%;
		flex-wrap: wrap;
		
	}
	.col-7 {
		width: 58.33%;
		flex-wrap: wrap;
		
	}
	.col-8 {
		width: 66.66%;
		flex-wrap: wrap;
		
	}
	.col-9 {
		width: 75%;
		flex-wrap: wrap;
		
	}
	.col-10 {
		width: 83.33%;
		flex-wrap: wrap;
		
	}
	.col-11 {
		width: 91.66%;
		flex-wrap: wrap;
		
	}
	.col-12 {
		width: 100%;
		flex-wrap: wrap;
		
	}
}

[class*="col-"] {
  float: left;
}
.row::after{
	content: "";
	clear: both;
	display: table;
}

/* Styles ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body, html {
	font-family: Cormorant, serif;
	font-size: 2vw;
	height: 100%;
	background-image: linear-gradient(#0f6b28, #ffffff, #0f6b28);
	
  
}

a {
	color: #ffae00;
		
}

a:visited {
	color; #6b1e1e;
}

#header, #footer{
	
	
	color: #a60c0c;
	transition: margin-left .5s;
	
}

#header {
	text-align: center;
	font-size: 4vw;
	margin-top: 0;
	
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	margin-bottom: 0;
	
}

#navmenu {
		font-size: small;
}

#container {
	min-height: 100%;
	position: relative;
	padding: 0;
	margin: 0;
	color: #111399;
}

#main {
	padding: 10px;
	padding-bottom:60px;
	color: #a60c0c;
}

.caption {
	font-size: 1.5vw;
	font-style: italic;
	
}

.center {
	text-align: center;
}

